{% extends 'bookstemp.html' %}

{%block content %}
  <h1> Add new book </h1>
<form method="post" action="" >
  {% csrf_token %}

<!--  <div class="form-label " style="color:green"> {{form.title.label}}  </div>-->
   <div class="mb-3 form-control">
     {% for item in form %}
     <div class="form-row">  {{item.label}} </div>
        <div class="form-control"> {{item}}</div>
     {% endfor %}
   </div>
<!--    {{form}}-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}