{% extends 'bookstemp.html' %}

{%block content %}
<!--    {{books}}-->
    <h1> All Books </h1>
    <table class="table">
        <tr>
            <th> ID</th> <th>Title</th> <th>Rating</th>
            <th>View</th>  <th>Edit</th>   <th>Delete </th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.rating}}</td>
<!--            <td><a href="{% url 'viewbook' book.id %}" class="btn btn-info"> View</a></td>-->
            <td><a href="{{ book.get_absolute_url }}" class="btn btn-info"> View</a></td>
            <td><a href="{{ book.get_edit_url }}" class="btn btn-warning"> Edit</a></td>
            <td><a href="{{book.get_delete_url}}" class="btn btn-danger"> Delete</a></td>

        </tr>
        {% endfor %}
    </table>
{% endblock %}